.wp-block-mamaduka-bookmark-card {
	&.is-loading {
		display: flex;
		justify-content: center;
		padding: 16px;
	}

	&.is-placeholder {
		border: none;
		border-radius: 0;
		box-shadow: none;
	}

	.wp-block-mamaduka-bookmark-card__placeholder-input {
		flex: 1 1 auto;
	}
}
